@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

/*------------------- BASE -------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(rgb(226, 230, 233), rgb(181, 212, 243)) fixed;
  color: #2c3e50;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.panel {
  background: white;
  width: 80vw;
  height: 32rem;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.1);
  /* ACCORDEON */
  max-height: 4rem;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.active {
  max-height: 32rem;
}

.active-btn {
  background: #2c3e50;
  color: white;
}

.panel header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  transition: all 0.5s ease-out;
}

.panel header:hover {
  background: #2c3e50;
  color: white;
  cursor: pointer;
}

.panel header h2 {
  font-size: 1.25rem;
}
.panel header i {
  font-size: 2rem;
}

/*------------------- NAV -------------------*/

nav {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 3rem;
  padding: 1rem 10vw;

  /* STICKY NAV */
  /* position: sticky;
  top: 0;
  z-index: 999; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  animation: 2s ease-out 0s 1 forwards running slideOut;
}

@keyframes slideOut {
  0% {
    padding: 1rem 20vw;
  }
  100% {
    padding: 1rem 10vw;
  }
}

nav h1 {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  opacity: 0;
  animation: 1s ease-out 1.5s 1 forwards running fadeIn;
  color: #201e40;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  filter: invert(21%) sepia(10%) saturate(1736%) hue-rotate(169deg)
    brightness(98%) contrast(91%);
  animation: 1s ease-out 0s 1 forwards running fadeIn;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 4rem;
  animation: 1s ease-out 0s 1 forwards running fadeIn;
}

.social-icons i {
  font-size: 1.25rem;
  color: #2c3e50;

  /* CIRCLE BORDER */
  /* display: inline-block;
  border: 1px #201e40 solid;
  border-radius: 50%;
  padding: 0.5em 0.6em; */
}

/*------------------- HERO -------------------*/

.hero {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
}

.hero article {
  display: flex;
  justify-content: center;
}

.hero article img {
  padding: 3rem;
  width: 15rem;
}

.hero-header {
  position: relative;
  justify-self: center;
}

.hero-header h2 {
  font-size: 3.5rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.hero-header h2:nth-child(2) {
  position: absolute;
  font-size: 4.5rem;
  color: rgba(255, 255, 255, 0.25);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  top: 2.5%;
  left: 2.5%;
  z-index: -1;
}

.hero-header p {
  margin-top: 3rem;
  font-size: 1.25rem;
  font-weight: 400;
}

/*------------------- METEO -------------------*/

.input-city {
  margin: 1.5rem 0rem;
  text-align: center;
}

.input-city input[type="submit"] {
  background: #e7e7e7;
  width: 35%;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #2c3e50;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s;
}

.input-city input[type="submit"]:hover {
  background: #201e40;
  color: #6cacc5;
}

.input-city input[type="text"] {
  background: #e7e7e7;
  width: 50%;
  padding: 1rem 0.5rem;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}

.error {
  outline: 3px rgb(255, 0, 0, 0.5) solid;
}

.card {
  background: #e7e7e7;
  width: 86%;
  height: 18rem;
  margin: 0rem auto 1rem;
  border-radius: 15px;
}

.card h2 {
  text-align: center;
  padding: 2rem 0rem;
}

.card p {
  text-align: center;
}

/* ICONE API */

.city-icon {
  width: 10rem;
}

/*------------------- CALCULATRICE -------------------*/

.calculator {
  margin: 0 auto;
  font-size: 1.5rem;
}

.viewer {
  font-size: 2rem;
  color: #c97874;
  font-weight: 700;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button-grid-top {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
  margin: 1.5rem 0;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.button-grid-top button,
.button-grid button {
  border: 0;
  background: #e7e7e7;
  width: 3.25rem;
  height: 3.25rem;
  margin: 0.5rem;
  color: #2c3e50;
  cursor: pointer;
  font: inherit;
  transition: all 0.5s;
}

button:hover {
  background: #201e40;
  color: #6cacc5;
}

button:focus {
  outline: 0;
}

/*------------------- CONVERSION -------------------*/

.conversion-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 0.5rem;
}

.conversion-grid article {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
  text-align: center;
}

.conversion-grid p {
  width: 2.5rem;
  padding: 1rem 0;
  font-size: 1.5rem;
  border-radius: 5px;
}

.conversion-input {
  background: #e7e7e7;
  width: 70%;
  padding: 0 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

/*------------------- FETE -------------------*/

.fete {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 86%;
  height: 22rem;
  margin: 2.5rem auto 1rem;
  border-radius: 15px;
}

.fete h2 {
  padding: 0rem 1rem;
  font-size: 3rem;
}

.fete span {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.fete img {
  position: absolute;
  background: center/cover no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0.1;
}

/*------------------- FOOTER -------------------*/

footer {
  background: #2c3e50;
  margin-top: 4rem;
}

.footer-center {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1.5rem;
  justify-items: left;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  padding: 2rem 0;
}

.footer-center a {
  font-size: 0.9rem;
  color: white;
}

.footer-center .logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg)
    brightness(104%) contrast(104%);
}

.footer-center i {
  color: white;
}

.footer-center h4 {
  font-size: 0.8rem;
  color: white;
}

/*------------------- RESPONSIVE 320 and BELOW -------------------*/

@media screen and (max-width: 320px), screen and (min-width: 320px) {
  .logo {
    width: 2.5rem;
  }

  nav h1 {
    font-size: 0.75rem;
  }

  .hero-header h2 {
    font-size: 2rem;
  }

  .hero-header h2:nth-child(2) {
    font-size: 3rem;
  }

  .hero article img {
    width: 100%;
  }
}

/*------------------- RESPONSIVE 425 -------------------*/

@media screen and (min-width: 425px) {
  .logo {
    width: 4rem;
  }

  nav h1 {
    font-size: 1rem;
  }

  .hero-header h2 {
    font-size: 4rem;
  }

  .hero-header h2:nth-child(2) {
    font-size: 5rem;
  }

  .hero article img {
    width: 22.5rem;
  }
}

/*------------------- RESPONSIVE 1024 -------------------*/

@media screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @keyframes slideOut {
    0% {
      padding: 1rem 35vw;
    }
    100% {
      padding: 1rem 10vw;
    }
  }

  /*------------------- NAV -------------------*/

  nav h1 {
    font-size: 1.25rem;
  }

  /*------------------- HERO 1024 -------------------*/

  .hero {
    width: 85vw;
    grid-template-columns: 2fr 1fr;
    height: 40rem;
  }

  .hero-header h2 {
    font-size: 5rem;
  }

  .hero-header h2:nth-child(2) {
    font-size: 6rem;
  }

  .hero-header p {
    font-size: 1.5rem;
  }

  .hero article img {
    width: 22.5rem;
  }

  .panel {
    width: 40vw;
  }

  /*------------------- CALCULATRICE -------------------*/

  .calculator {
    width: 22rem;
  }

  /*------------------- CONVERSION -------------------*/

  .conversion-grid {
    grid-template-columns: 1fr 1fr;
  }

  .conversion-input {
    width: 60%;
  }

  /*------------------- FETE -------------------*/

  .fete h2 {
    font-size: 4rem;
  }

  /*------------------- FOOTER -------------------*/

  .footer-center {
    grid-template-columns: 0.5fr 4fr 0.5fr 1fr;
    justify-items: left;
  }
}
